body{ margin: auto;
    margin-top: 30px;
width: 800px;
}
header{
    text-align: center;
    font-family:serif,'Times New Roman' ;
    color: #594b3a;
    letter-spacing: 2.5px;
    border-top: 1px solid #594b3a;
    border-bottom: 2px solid #594b3a;
    padding: 20px;
    margin: auto;

}
h3{text-align: center;
font-family: serif,'Times New Roman';
color: #594b3a;

font-size: 20px;
margin-top: 50px;}

nav ol li {
    color: #43948e;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
nav ol li a{color: #43948e
}

article h2{
    color: #594b3a;
    font-family: serif,'Times New Roman';
    text-align: center;


}
article h2 a{ color: #43948e;
font-size: 9px;
font-family: serif,'Times New Roman';
text-decoration: none;
}

article p{font-family: serif, 'Times New Roman';
color:#000;
}
   
#scene{width: 380px;
height: auto;}

#hob p{
    display: flex;
    align-items: center;
    
}

#vidi{
    background-color: #e0d3c2;
    font-style: italic;
    font-size: 20px;
    padding: 40px;
}
#juli{float: right;
}

table{
    width: 70%;
    text-align:right;
    position: center;
    border-collapse: collapse;
    

}

.rig{
    text-align: left;
}

th{
background-color: #666057;
color: white; 

}
tr:nth-child(even){background-color:#FFE0DA;
  }

  #lastf{
      margin-top: 10px; 
      border-top: 2px solid;
      padding: 10px;
      text-align: center;
  }

